<div class='row'>
  <div id='left-column' class ='large-4 columns'>
    <h4 id='home-header' class='fancy'>Join us where the mountains and &amp; ocean meet.</h4>
    <p>
      You heard it right! We are having our wedding in Alaska 
      and we really hope that you can make it out to the celebration.
    </p>
    <p>
      It is with family and extremely close freinds that we want to 
      share this precious time. We wouldn't want it any other way than
      to have you be there and party your shoes off along with us.
    </p>
    <p>
      If you have the time, extend your stay to soak in the surroundings 
      and do the things you've always wanted to do while in Alaska!
    </p>
    <img src="/assets/Home2.jpg" class='image'/>
  </div>
  <div id='right-column' class ='large-8 columns'>
    <div class='row'>
      <div class='large-12 columns'>
        <img src="/assets/Home1.jpg" class='image'/>
      </div>
    </div>
    <div class='row'>
      <div class='large-6 columns'>
        <img src="/assets/Home3.jpg" class='image'/>
      </div>
      <div class='large-6 columns'>
        <img src="/assets/Home4.jpg" class='image'/>
        <p class='fancy'>
          Alaska is a very meaningful 
          place for us and we want to share 
          its beauty with you.
        </p>
      </div>
    </div>
  </div>
</div>
