<div class='row'>
  <div id='left-column' class ='large-4 columns'>
   <h4 id='join-us-header' class='fancy'>
     Join us in celebrating the joy of Abi and Lin’s 
     love while being surrounded by the Alaskan beauty on July 28th.
   </h4>
   <p>
     We understand getting out to the “Last Frontier” is no walk in the park,
     and we want to do our best for you to be there without having to break the bank.
     That being said, we don’t have a registry for gifts because YOU are 
     the truest gift we could ask for.
   </p>
   <p>
     Join us for a bit of adventure! 
     From July 27th to August 1st get caught up in the majesty of Alaska with fishing,
     hunting, berry picking, sight seeing and much more!
   </p>

    <img src="/assets/JoinUs2.jpg" class='image'/>
  </div>

  <div id='right-column' class ='large-8 columns'>
    <div class='row'>
      <div class='12-large columns'>
        <img src="/assets/JoinUs1.jpg" class='image'/>
      </div>
    </div>
    <div class='row'>
      <div class='large-6 columns'>
        <img src="/assets/JoinUs3.jpg" class='image'/>
      </div>
      <div class='large-6 columns'>
        <img src="/assets/JoinUs4.jpg" class='image'/>
      </div>
    </div>
  </div>

</div>
