<h1 class='page-heading'>Join Us!</h1>
<div class='row'>
  <div id='left-column' class ='large-4 columns'>
   <h2>Join us where the mountains &amp; the ocean meet.</h2>
   <p>Lorem ipsum yadda yadda....</p>
  </div>
  <div id='right-column' class ='large-8 columns'>
    <h1>Right Column</h1>
  </div>
</div>
