<h2 class='page-heading'>LOGISTICS</h2>
<div class='row'>
  <div id='left-column' class ='large-4 columns'>
    <h3>Transportation:</h3>
    <p>
      Homer is a 4hr drive south from Anchorage airport. You have the option 
      to rent a car from Anchorage (the views will blow you away), or there 
      is a plane that flies to Homer (please check the website for schedules) 
      and in Homer you can rent a car.
    </p>

    <h3>Food:</h3>
    <p>
      To make the experience more digestible, we are providing food for those 
      who want to be part of the meal plan of $10 a day. Let us know at least 2 
      weeks in advance if you’d like to be part of the meal plan. If you want 
      to venture out and try some of the local flavor, you can find great places 
      to find a good bite to eat. 
    </p>

    <h3>Lodging:</h3>
    <p>
      We’ve reserved a house with a million dollar view for the week. This will 
      be the gathering site for our get-togethers and meals. It has a large common 
      room for gatherings, a deck, and a large lawn that leads to the beach 
      (bonfires anyone?!).
    </p>
  </div>
  <div id='center-column' class ='large-4 columns'>
    <h3>PACKING LIST:</h3>
    <p>
      Weather is ever-changing, so please bring clothes to suit any kind of 
      weather: wet, cold, warm, and dance-wear!
    </p>

    <h3>Essentials:</h3>
    <ul>
      <li>Rain jacket</li>
      <li>Shoes to suit the activities you want to participate in.</li>
      <li>Thick socks</li>
      <li>Camera</li>
      <li>Long johns for those chilly nights, hikes or going out on the boat.</li>
    </ul>

    <p>
      There are local super markets for anything extra you might need.
    </p>
    <p>
      Bring as much gear you need for the activities you want to do. 
    </p>
    <p>
      Hunting and Fishing require the purchase of a license to do so. 
      Before heading out, everyone should have the respective license for the activity with ID. 
    </p>
    <p>
      Please contact Abi or Lin to help you gather your thoughts due to such intense excitement.
    </p>
  </div>
  <div id='right-column' class ='large-4 columns'>
    <div class='row'>
      <div class='12-large columns'>
        <img src="/assets/Logistics1.jpg" class='image'/>
      </div>
    </div>
    <div class='row'>
      <div class='12-large columns'>
        <img src="/assets/Logistics2.jpg" class='image'/>
      </div>
    </div>
    <div class='row'>
      <div class='12-large columns'>
        <img src="/assets/Logistics3.jpg" class='image'/>
      </div>
    </div>
  </div>
</div>
