<div class='row'>
  <div id='left-column' class ='large-4 columns'>
   <h2>STUFF TO DO</h2>

   <p>
     Homer is a fisherman’s town that has appealed to people of all backgrounds.
     Hence, you have a great variety of things to do and see.
     There are prestigious art galleries, coffee shops, restaurants, boutiques,
     and outdoor activities to your heart’s content.
   </p>
   <p>
    Bring extra room in your luggage for whatever you fish, hunt or gather!
   </p>

   <p>List of things to do around Homer: weather permitting</p>
   <ul>
    <li>Target shooting at gun range</li>
    <li>Fishing</li>
    <li>Berry picking</li>
    <li>Horse-back riding</li>
    <li>Sight seeing</li>
    <li>Kayaking</li>
    <li>Bird watching</li>
    <li>Browsing through art galleries</li>
    <li>Sipping on some coffee</li>
    <li>Walking down trails/hiking</li>
    <li>Sports</li>
    <li>Bonfires at the beach</li>
   </ul>
   <p>
    All while taking in the view you can’t find anywhere else.
   </p>
  </div>
  <div id='right-column' class ='large-8 columns'>
    <div class='row'>
      <div class='12-large columns'>
        <img src="/assets/StuffToDo1.jpg" class='image'/>
      </div>
    </div>
    <div class='row'>
      <div class='large-6 columns'>
        <img src="/assets/StuffToDo2.jpg" class='image'/>
      </div>
      <div class='large-6 columns'>
        <img src="/assets/StuffToDo3.jpg" class='image'/>
      </div>
    </div>
  </div>
</div>
