<h1 class='page-heading'>Stuff To Do</h1>
<div class='row'>
  <div id='left-column' class ='large-4 columns'>
   <h1>Left Column</h1>
  </div>
  <div id='right-column' class ='large-8 columns'>
    <h1>Right Column</h1>
  </div>
</div>
