<div class='row'> <div id='left-column' class ='large-4 columns'>
   <h2>THE PARTY</h2>
   <p>
     <strong>July 27th, 5:00 pm:</strong> Join us at the Seaside Lodge in Homer for a 
     welcome party to kick-off the celebrations!
   </p>
   <p>
     <strong>July 28th, 3:45 pm:</strong> To get to the place of the ceremony, we are 
     chartering a water taxi to shuttle everyone over on the day of 
     the wedding (only ride available). 
   </p>
   <p>
     It’s a 30 min. voyage to Halibut Cove, a beautiful remote community 
     on the other side of Kachemak Bay. If you keep your eyes peeled, 
     you’ll see otters, puffins, maybe a whale and bald eagles!
   </p>
   <h3>MAKE IT A WEEK!</h3>
   <p>
     Always wanted to fish for wild Alaskan Salmon? 
     Bring your gear along for the Alaskan trip you’ve always wanted. 
   </p>
   <p>
     Need a change of scenary? Soak up the beauty with breathtaking 
     hikes and drives. You can even do it on horse-back!
   </p>
   <p>
     Much needed relaxation? There are awesome cafes and bakeries to 
     lounge the day away.
   </p>
  </div>
  <div id='right-column' class ='large-8 columns'>
    <div class='row'>
      <div class='large-12 columns'>
        <img src="/assets/TheParty.png" class='image'/>
      </div>
    </div>
  </div>
</div>
