body
  background-image: url('/assets/bg_texture.jpg')

#bg-header
  display: block
  margin: auto
  margin-bottom: -133px
  height: 288px
  width: 1024px
  background-image: url('/assets/bg_header.png')
  background-repeat: no-repeat

#content
  .page-heading
    margin-top: 0

#main
  padding-left: 33px
  padding-right: 33px
  background: #f8f7f2
  min-width: 1150px
