body
  h1,h2,h3,h4,h5,h6
    color: #58595b
  background-image: image-url('bg_texture.png')
  .ember-view
    color: #58595b

#bg-header.row
  display: block
  margin: auto
  height: 235px
  background-image: image-url('bg_header.png')
  background-repeat: no-repeat
  margin-left: -100px
  margin-right: -100px

#wrapper
  margin-right: auto
  margin-left: auto
  width: 1280px

#content
  .page-heading
    margin-top: 0

#main
  padding-left: 33px
  padding-right: 33px
  background: #f8f7f2
  min-width: 1150px
  max-width: 1150px
  -moz-box-shadow:    0px 3px 20px -2px black
  -webkit-box-shadow: 0px 3px 20px -2px black
  box-shadow:         0px 3px 20px -2px black

#footer
  width: 950px
  padding-bottom: 15px
  padding-top: 45px

  img
    margin: auto

.image
  width: 100%
  padding-top: 0.9375rem
  padding-bottom: 0.9375rem

.fancy
  font-family: "Georgia"
  font-style: italic
