.ember-view.active
  font-weight: 600

.top-bar
  .top-bar-section
    ul
      li
        width: 19%

.top-bar
  .top-bar-section
    ul.center-nav
      li
        a
          text-align: center

.top-bar
  .top-bar-section
    ul.left-nav
      li
        width: 10%

.top-bar
  .top-bar-section
    ul.right
      li
        margin-right: 20px
