#rsvp-main
  height: 600px

  .group-search-box
    background: white
    margin-top: -20px
    border: solid grey 1px

  .group-search-result
    border-bottom: solid lightGrey 1px
    padding: 10px
    color: grey

  .guest-table
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
    margin-left: 5px
    padding-right: -5px
    td
      select
        margin: 0

  .rsvp-button
    margin-left: 20px

  #right-column.rsvp-text
    margin-top: 70px
